@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom primary theme color (bg-sky-300)  */
  --primaryThemeColor: oklch(0.828 0.111 230.318);
}

/* Box-sizing and padding reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default margin for headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset buttons */
button {
  all: unset;
  cursor: pointer;
}

/* Set default body styles */
body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove borders on all elements */
fieldset {
  border: none;
}

/* Ensure images don't overflow their containers */
img {
  max-width: 100%;
  height: auto;
}
